.ENCABEZADOIMAGEN {
    overflow: hidden;
    max-width: 100vw;
    width: 100%;
}


.ENCABEZADOIMG img{
    width: 100%;
    height: auto;
    display: block;  

}

.zoom-activo {
    transform: scale(1.01);
    transition: transform 0.3s ease;
    cursor: zoom-in;
}







.PresentacionesIMG {
    background-color: #f0ebeb;
    color: #333333;
    padding: 50px 70px;
}

.PresentacionHilal {
    padding: 50px;

}


.Desde1957 {
    font-size: 25px;
    font-family: "Poppins"; 
    margin-bottom: 5px;
}

.PresentacionHilal h3 {
    font-size: 20px;
    font-family: "Poppins";
    margin-bottom: 15px;

}

.Mision {
    font-size: 15px;
    font-family: "Display";
    line-height: 2 ;
    text-align: justify;
    margin-left: 25px;
}




.ExperienciaHilal {
    background-color: #f0ebeb;
    justify-content: center;
}

.VisitaHilal {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.Visitaguiada, .IMGVisita {
    width: 50%;
}

.IMGVisita img {
    width: 100%;
    margin: 0px;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
    padding-bottom: 40px;
}

.Visitaguiada {
    font-family: "Display";
    font-size: 15px;
    line-height: 2 ;
    text-align: justify;
    margin-left: 25px;
}